<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--web.xml added only for change theme-->

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>hot-sneaks</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>

    <!--SECURITY-->

    <error-page>
        <error-code>403</error-code>
        <location>/security/403.xhtml</location>
    </error-page>

    <security-constraint>
        <display-name>private</display-name>
        <web-resource-collection>
            <web-resource-name>private</web-resource-name>
            <description/>
            <url-pattern>/private/*</url-pattern>
            <!--<http-method>GET</http-method>-->
            <!--<http-method>POST</http-method>-->
            <!--...-->
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
            <role-name>MODER</role-name>
            <role-name>USER</role-name>
            <role-name>SERVICE</role-name>
        </auth-constraint>
        <!--<user-data-constraint>-->
            <!--<description/>-->
            <!--<transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
        <!--</user-data-constraint>-->
    </security-constraint>

    <security-constraint>
        <display-name>statistics</display-name>
        <web-resource-collection>
            <web-resource-name>statistics</web-resource-name>
            <description/>
            <url-pattern>/private/viewStatistics.faces</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
            <role-name>MODER</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>users</display-name>
        <web-resource-collection>
            <web-resource-name>users</web-resource-name>
            <description/>
            <url-pattern>/private/viewUsers.faces</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <!--<realm-name>jdbcRealm</realm-name>-->
        <!--<realm-name>jdbcRealmPostgres</realm-name>-->
        <realm-name>helpdesk_securityJDBCRealm</realm-name>
        <form-login-config>
            <form-login-page>/security/login.xhtml</form-login-page>
            <form-error-page>/security/loginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description/>
        <role-name>ADMIN</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>MODER</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>USER</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>SERVICE</role-name>
    </security-role>

</web-app>